body{
  line-height: 1.5;
  background-color:var(--tertiary-color) ;
  overflow: auto;
  /* overflow-y: hidden; */

}
a:hover{
  transition: 0.3s ease-in; 

}
/* buttons */
.center{
  text-align: center;
}
.btn-1{
padding: 10px 15px;
background: var(--primary-color);
color: white;

font-size: 18px;
border:1px solid var(--primary-color);
}
.btn-1:hover{
  transition: 0.6s ease-in;
  background-color: white;
  color: var(--primary-color);
border:1px solid var(--primary-color);

}
.btn-2{
padding: 10px 15px;
border:1px solid white;
color: white;
font-size: 18px;

}
.btn-2:hover{
color: var(--primary-color);
border:1px solid var(--primary-color) ;
background-color: white;
transition: 0.6s ease-in;
}
.btn-3{
  padding: 10px 15px;
  border:1px solid var(--primary-color);  
  
  color: var(--primary-color);
  font-size: 18px;
}
.btn-3:hover{
 background-color: var(--primary-color);
 color: white;
 transition: 0.6s ease-in;
 
}

/* Headings */
.heading1{
  font-size: 40px;
  margin-bottom: 20px;
  color:var(--primary-color);
}

/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
h1,h2{
  line-height: 1.2;
}
p{
  margin: 10px,0;
}
img{
  width: 100%;
}
h1,h2,h3{
  font-family: 'DM Serif Display', serif;
  color: purple;
  margin: 15px 0;
}
img{
  border: 13px solid white;
  border-radius:5px ;
}

/* Buttons */
.btn-1{
  padding: 15px 15px;
  margin: 20px 0px;
  background-color: purple;
  color: white;
  border-radius:2px;
}
.btn-1:hover{
  background-color: white;
  color: purple;
}
.btn-2{
  padding: 15px 15px;
  background-color: white;
  color: purple;
  border-radius:2px;
}
.btn-2:hover{
  background-color: purple;
  color: white;
  border-radius:2px;
}
.current {
  background-color: rgb(255, 214, 255); 
}
.purple{
  color: purple;
}
.flex-items{
  display: flex;
}
.flex-items>div{
width: 33%;
padding: 10px;
text-align: center;
}
.flex-items>div img{
  width: 180px;
  height:150px ;
  border: 1px solid white;
  
}